.recipeImg {
    width: 50vw;
    margin-top: 30px;
}

.button {
    border-radius: 10px;
    padding: 10px 30px;
    background-color: #FEA116;
    color:white;
    box-shadow: none;
    border-width: 0px ;
    margin-top: 10px;
    display:block;
    margin: 20px auto;
    width: 100%;
}

.mainContainer {
    margin: 80px auto;
    text-align: center;
}

.flexContainer {
    padding:20px 50px;
    margin-top: 30px;
    display: inline-flex;
    width: 90vw
}

.flexContainer h4 {
    text-align: center
}

.recipeContainer {
    text-align: left;
    width: 75%;
    display: inline-block;
}

.ingredients-container {
    text-align: left;
    width: 20%;
    display: inline-block
}